<!DOCTYPE html>
<html>
<head>
    <title>License Plate Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>License Plate Detection System</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload & Detect</button>
</form>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{% if result_media %}
<hr>

{% if result_media.endswith(".mp4") %}
<video controls width="700">
    <source src="/{{ result_media }}" type="video/mp4">
</video>
{% else %}
<img src="/{{ result_media }}" width="700">
{% endif %}

<h2>Detected License Plates</h2>

<table>
    <tr>
        <th>#</th>
        <th>Detection Time</th>
        <th>Confidence</th>
    </tr>

    {% for p in plates %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ p.time }}</td>
        <td>{{ p.confidence }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</body>
</html>
